@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
*,
*:after,
*::before {
    box-sizing: border-box;
}

body {
    background: #f64747;
    color: black;
    font-family: 'Open Sans', Arial, sans-serif;
    max-width: 100%;
}

section {
    position: relative;
    color: #000;
    text-align: center;
    min-height: 250px;
}

section i.fa {
    font-size: 2em;
    color: : rga(1, 1, 1) !important;
}

section h2 {
    font-family: 'Open Sans';
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 1);
}

section p {
    font-family: 'Open Sans';
    font-size: 18px;
    text-transform: capitalize;
    color: white;
}
