---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    {% asset style.css %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    {% if site.analytics-id %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics-id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.analytics-id }}');
      </script>
    {% endif %}
  </head>
  <body>
    {% include _nav.html %}
    {{ content }}
    {% asset main.js %}
    {% include _footer.html %}
  </body>
</html>
